html {
    position: relative;
    display: block;
    height: 100%;
}

body {
    display: block;
    position: relative;
    font-family: Noto Sans, sans-serif;
    background-color: #DCECFF;
    height: 100%;
    margin: 0;

    &:has(dialog[open]) {
        overflow: hidden;

        // &::before {
        //     content: '';
        //     width: 100%;
        //     display: block;
        //     position: absolute;
        //     height: 100%;
        //     z-index: 3;
        //     background-color: #0524484D;
        //     backdrop-filter: blur(10px);
        // }
    }
}

.h1 {
    font-size: 96px;
    font-weight: 900;
    line-height: 131px;
    letter-spacing: 0.14em;
    text-align: center;
    margin: 0;
    margin-top: 85px;


}

.add_todo {
    width: auto;
    height: auto;
    position: absolute;
    bottom: 60px;
    right: 60px;
    cursor: pointer;
}

#todo_list {
    border-radius: 40px;
    margin: 0 auto;
    margin-top: 130px;
    position: relative;
    z-index: 2;
    max-width: 90%;
    background-color: #ffff;
    padding: 24px;

    .todo_item {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        font-size: 32px;
        padding: 24px 40px;
        border-radius: 16px;
        background-color: #EDEDED;
        transition: background-color .6s;

        &.completed {
            background-color: #DBF9D8;
        }

        &:not(:first-child) {
            margin-top: 20px;
        }

        p {
            font-size: 32px;
            font-weight: 500;
            line-height: 38px;
            letter-spacing: 0em;
            text-align: left;

            &.text {
                font-weight: 300;
            }
        }

        .content {
            display: flex;
            grid-gap: 30px;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
        }

        .buttons {
            transition: opacity .6s;
            opacity: 0;
            display: flex;
            grid-gap: 10px;
            margin-left: auto;

            input.item_check {
                position: absolute;
                opacity: 0;
                width: 100%;
                left: 0;
                height: 100%;
            }

            button {
                margin-left: 10px;
                cursor: pointer;
                position: relative;
            }
        }

        &:hover {
            background-color: #DCECFF;

            .buttons {
                opacity: 1;
            }
        }
    }
}

#dialog {
    position: absolute;
    opacity: 0;
    z-index: -3;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: z-index .6s, opacity .6s;
    padding: 60px;
    background-color: #fff;
    border-radius: 40px;
    display: block;
    border: none;
    overflow: visible;

    &[open] {
        opacity: 1;
        z-index: 3;
    }

    &::backdrop,
    &+.backdrop {
        background-color: rgba(5, 36, 72, 0.3);
        backdrop-filter: blur(10px);
    }

    .form {

        input,
        textarea {
            height: 65px;
            top: 0;
            left: 0;
            background-color: rgba(237, 237, 237, 1);
            border-radius: 16px;
            margin-top: 8px;
            border: none;
            padding: 22px 24px;
            width: 100%;
            font-size: 18px;
            font-weight: 300;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;

            &::placeholder {
                font-size: 18px;
                font-weight: 300;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;

            }
        }

        label {
            display: flex;
            font-size: 24px;
            font-weight: 300;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left;

            &:not(:first-child) {
                margin-top: 50px;
            }
        }

        .btn_save {
            margin-top: 40px;
        }
    }

    .close {
        position: absolute;
        cursor: pointer;
        top: -80px;
        right: -80px;
        height: 60px;
        max-width: 60px;
        min-width: 60px;
    }
}